<template>
  <Container #home>
    <form @submit.prevent="checkValidation" class="main-block">
      <h1>{{ schema.name }}</h1>
      <!--      <Product />-->
      <div class="main">
        <div v-for="field in schema.fields" :key="field.id">
          <component
            :is="components[field.type]"
            v-bind="field"
            v-model="field.value"
            :required="field.validation.required"
            :placeholder="`Введите ${field.label}`"
            :class="{ mySelect: field.type === 'options' }"
          />
        </div>

        <div class="chbox">
          <input id="checkbox" type="checkbox" />
          <label for="checkbox">
            Скрыть от незарегистрированных пользователей
          </label>
        </div>
        <BaseButton text="Валидация" classname="Validation" />

        <div
          v-if="isValid !== null"
          class="validation"
          :class="{ validation__valid: isValid }"
        >
          <p class="text__res">{{ textValid }}</p>
        </div>
      </div>
    </form>
  </Container>
</template>

<script>
import Container from "../../components/ui/Container";
// import Product from "@/components/product/Product";
import BaseInput from "../../components/ui/BaseInput";
import BaseSelectOnption from "../../components/baseSelectOption/BaseSelectOnption";
import BaseButton from "../../components/ui/BaseButton";
import { validationMixin } from "../../components/mixins/validation";

export default {
  name: "SingleSchema",
  components: { Container, BaseInput, BaseSelectOnption, BaseButton },
  mixins: [validationMixin],
  data: () => ({
    schema: [],
    options: [{ name: "sdfdsfdsf" }, { name: "dsfsdfdsf" }],
    components: {
      text: BaseInput,
      number: BaseInput,
      options: BaseSelectOnption,
    },
    isValid: null,
  }),
  async created() {
    try {
      const { data } = await this.$store.dispatch(
        "form/fetchSchema",
        this.$route.params.id
      );
      this.schema = data.schema;
      this.schema.fields = this.schema.fields.map((field) => ({
        ...field,
        value: "",
        error: false,
        isRequired: field.validation.required,
      }));
    } catch (e) {
      console.log(e);
    }
  },
  computed: {
    textValid() {
      return this.isValid
        ? "Валидация пройдена успешно!"
        : "Валидация не пройдена.";
    },
  },
  methods: {
    checkValidation() {
      this.isValid = false;
      const res = {
        status: true,
      };

      this.schema.fields.forEach((field) => {
        this.checkSingleField(field, res);
      });

      this.schema.fields.forEach((field) => {
        this.checkMinMax(field, res);
      });

      if (res.status) {
        this.isValid = true;
      }
    },
  },
};
</script>

<style scoped>
.main-block {
  background: #fff;
  margin-top: 36px;
  padding: 36px;
}
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-bottom: 20px;
}
.main {
  width: 562px;
}
::v-deep .select {
  width: 562px;
  /*padding-bottom: 20px;*/
}
::v-deep .input-block {
  padding-bottom: 20px;
}

.chbox {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.chbox label {
  margin-left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #272727;
}
.chbox input {
  width: 20px;
  height: 20px;
}
.mySelect {
  /*padding-bottom: 20px;*/
  padding-bottom: 70px;
}

.validation {
  border: 1px solid #eb5757;
  box-sizing: border-box;
  border-radius: 5px;
  width: 561px;
  height: 51px;
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 51px;

  /* or 150% */

  color: #eb5757;
}
.validation__valid {
  width: 561px;
  height: 51px;
  border: 1px solid #00a241;
  box-sizing: border-box;
  border-radius: 5px;
  color: #00a241;
}
.text__res {
  margin-left: 40px;
}
</style>
