<template>
  <div class="schema">
    <Container>
      <template #home>
        <div>
          <h1>Мои схемы</h1>
          <router-link
            v-for="(schema, i) in schemas"
            :key="schema.id"
            :to="{ name: 'Schema', params: { id: schema.id } }"
            class="schema__block"
          >
            {{ `Schema  ${++i}` }}
          </router-link>
        </div>
        <div class="new-shame">
          <router-link to="new-scheme">
            <BaseButton text="Создать схему" classname="create-schame" />
          </router-link>
        </div>
      </template>
    </Container>
  </div>
</template>

<script>
import Container from "../../components/ui/Container";
import BaseButton from "../../components/ui/BaseButton.vue";

export default {
  name: "Schema",
  components: {
    Container,
    BaseButton,
  },
  data: () => ({
    schemas: [],
  }),
  async created() {
    try {
      const { data } = await this.$store.dispatch("form/fetchSchemas");
      this.schemas = data;
    } catch (e) {
      console.log(e);
    }
  },
};
</script>

<style scoped>
.schema {
  margin-top: 40px;
}
.schema__block {
  font-family: Roboto;
  background: white;
  padding-left: 20px;
  color: #000;
  font-weight: bold;
  display: block;
  margin-bottom: 2px;
  height: 47px;
  line-height: 47px;
  text-decoration: none;
}
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 40px;
}
.new-shame {
  margin-top: 40px;
}
</style>
