<template>
  <div>
    <h1>Свойства схемы</h1>
    <p class="subTitle">Схема должна содержать хотя бы одно свойство</p>
    <div class="container-bg">
      <div class="main-block" ref="block">
        <div>
          <div class="showHide">
            <img
              @click="showClick"
              src="@/assets/icons/selectSlack.svg"
              alt=""
            />
            <p class="scemaItem">Свойство {{ fieldIndex }}</p>
          </div>

          <div class="schemaes input-size">
            <BaseInput
              v-model="localSchema.key.value"
              label="Ключ свойства"
              :required="localSchema.key.isRequired"
              :error="localSchema.key.error"
            />
            <BaseInput
              v-model="localSchema.label.value"
              label="Название свойства"
              :required="localSchema.label.isRequired"
              :error="localSchema.label.error"
            />
            <BaseSelectOption
              label="Поле для отображения"
              :required="localSchema.type.isRequired"
              :error="localSchema.type.error"
              :options="options"
              v-model="localSchema.type.value"
            />
          </div>
        </div>

        <div v-if="localSchema.type.value" class="validation">
          <div class="title">
            <p class="validationText">VALIDATIA</p>
            <button @click="$store.commit('form/deleteField', localSchema.id)">
              deleteICon
            </button>
          </div>
          <Validation
            :type="localSchema.type.value"
            :field-id="localSchema.id"
          />
        </div>
      </div>
    </div>
    <div v-if="addOptionShow" class="option">
      <div
        v-for="(option, i) in localSchema.options"
        :key="i"
        class="option__block"
      >
        <BaseInput :clear="true" v-model="localSchema.options[i].label" />
        <BaseInput v-if="option.showKey" v-model="localSchema.options[i].key" />
      </div>
    </div>

    <div class="line"></div>
  </div>
</template>

<script>
import BaseInput from "@/components/ui/BaseInput";
import Validation from "@/components/validation/Validation";
import BaseSelectOption from "@/components/baseSelectOption/BaseSelectOnption";

export default {
  name: "NewSchema",
  components: {
    BaseInput,
    Validation,
    BaseSelectOption,
  },
  props: {
    schema: {
      type: Object,
      required: true,
    },
    fieldIndex: {
      type: Number,
      default: 1,
    },
    fieldId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      localSchema: { ...this.schema },
      options: [
        { id: 1, label: "Текстовое поле", key: "text" },
        { id: 2, label: "Числовое поле", key: "number" },
        { id: 3, label: "Пароль", key: "password" },
        { id: 4, label: "Чекбокс", key: "checkbox" },
        { id: 5, label: "Номер телефона", key: "phone" },
        { id: 6, label: "Выпадающий список", key: "options" },
      ],
      addOptionShow: false,
    };
  },
  methods: {
    showClick() {
      this.$refs.block.classList.add();
      console.log(this.$refs.block);
    },
  },
  watch: {
    "localSchema.type.value": {
      handler(val) {
        this.addOptionShow = val === "options";
      },
    },
    localSchema: {
      handler(val) {
        this.$store.commit("form/fillField", {
          id: val.id,
          field: val,
        });
      },
      deep: true,
    },
    addOptionShow(val) {
      if (val) {
        this.$set(this.localSchema, "options", [
          {
            key: "",
            label: "",
            showKey: false,
          },
        ]);
      }
    },
    "localSchema.options": {
      handler(val) {
        if (val.at(-1).label) {
          val.at(-1).showKey = true;
          val.push({
            key: "",
            label: "",
            showKey: false,
          });
        }
      },
      deep: true,
    },
  },
};
</script>

<style scoped>
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}
.input-size {
  width: 422px;
  margin-left: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: space-between;
}
.subTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.5;
  margin-top: 8px;
  padding-bottom: 50px;
}
.scemaItem {
  padding-bottom: 20px;
}
::v-deep .input-block {
  padding-bottom: 20px;
}
.line {
  width: 100%;
  height: 1px;
  background: rgba(23, 23, 25, 0.3);
  opacity: 0.6;
  margin-top: 40px;
}
.main-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.validationText {
  padding-bottom: 50px;
}
.container-bg {
  background: #ffffff;
  width: 100%;
  padding: 20px 88px 40px 17px;
}
.option {
  width: 388px;
  margin-left: 56px;
  margin-top: 30px;
}
.option__block {
  margin-bottom: 30px;
}
.showHide {
  display: flex;
  align-items: center;
}
.showHide img {
  margin-top: -17px;
  cursor: pointer;
}
.showHide p {
  margin-left: 20px;
}
</style>
