<template>
  <div class="main-container">
    <Container>
      <template #home>
        <div class="block">
          <div class="pages">
            <img class="logo" src="@/assets/icons/logo.svg" alt="" />
            <router-link class="link" to="/">Мои схемы</router-link>
            <router-link class="link" to="new-scheme"
              >Создать схему</router-link
            >
          </div>
          <div>
            <button class="logout" @click="logout">Выйти</button>
          </div>
        </div>
      </template>
    </Container>
  </div>
</template>

<script>
import Container from "../ui/Container";
export default {
  components: {
    Container,
  },
  methods: {
    async logout() {
      try {
        await this.$store.dispatch("auth/signOut", this.form);
        this.$router.push({ name: "Login" });
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style>
.main-container {
  height: 80px;
  border-bottom: 1px solid rgba(23, 23, 25, 0.2);
  background: #fff;
}
.pages {
  display: flex;
  align-items: center;
}
.pages .router,
.pages .link {
  margin-left: 50px;
}
.logo {
  width: 48px;
  height: 48px;
}
.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #1390e5;
}
.block {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout {
  border: none;
  background: #fff;
  cursor: pointer;
  color: #1390e5;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.router-link-exact-active {
  border-bottom: 2px solid #1390e5;
  padding: 30px;
  padding-left: 0;
  padding-right: 0;
}
</style>
