<template>
  <div>
    <p v-if="$props.label" class="title-text" :class="{ errorText: error }">
      <span v-if="required">*</span>
      {{ $props.label }}
    </p>
    <div :class="{ 'select-mine': showOptions }">
      <div
        :class="{ selected: showOptions, error: this.error }"
        class="select"
        @click="selected"
      >
        <img
          :class="{ changePosition: showOptions }"
          class="slack"
          src="@/assets/icons/selectSlack.svg"
          alt=""
        />
        <p
          :class="{
            textSelected: selectedText === 'Выберите поле для отображения',
          }"
          class="selectedAfter"
        >
          {{ selectedText }}
        </p>
      </div>
      <div v-if="showOptions" class="options-text">
        <p
          @click="selectedOption(option)"
          class="option"
          v-for="(option, i) in $props.options"
          :key="i"
        >
          {{ option.label }}
        </p>
      </div>
    </div>
    <!--    <AddOption v-if="addOption" />-->
  </div>
</template>

<script>
// import AddOption from "@/components/addOption/AddOption";
export default {
  model: {
    prop: "value",
    event: "change",
  },
  components: {
    // AddOption,
  },
  props: {
    options: {
      type: Array,
      required: [],
    },
    value: {
      type: [String, Object],
      default: "",
    },
    required: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: "",
    },
    error: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showOptions: false,
      selectedText: "Выберите поле для отображения",
      addOption: false,
    };
  },
  methods: {
    selected() {
      this.showOptions = !this.showOptions;
    },
    selectedOption(option) {
      this.selectedText = option.label;
      this.showOptions = false;
      this.$emit("change", option.key);
    },
  },
  computed: {
    modelValue: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("change", val);
      },
    },
  },
};
</script>

<style scoped>
.select {
  width: 422px;
  height: 48px;
  border: 1px solid rgba(23, 23, 25, 0.2);
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
}
span {
  color: red;
}
.slack {
  position: absolute;
  width: 10px;
  height: 5px;
  left: calc(100% - 30px);
  top: calc(50% - 2.5px);
}
.option {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;
  color: #272727;
  padding-left: 14px;
  font-weight: bold;
}
.option:first-child {
  margin-top: 30px;
}
.option:hover {
  background: rgba(197, 228, 249, 0.3);
  cursor: pointer;
}
.selected {
  border: none;
  border-bottom: 1px solid rgba(23, 23, 25, 0.2);
  border-radius: 0;
}
.select-mine {
  background: #ffffff;
  border: 1px solid #1390e5;
  box-sizing: border-box;
  border-radius: 5px;
}
.textSelected {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #272727;
  opacity: 0.3;
  left: 14px;
  top: 25%;
}
.selectedAfter {
  position: absolute;
  left: 14px;
  top: 25%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #272727;
}
.options-text {
  margin-top: 48px;
}
.changePosition {
  transform: rotate(90deg);
}
.error {
  border: 1px solid #eb5757;
  background: rgba(235, 87, 87, 0.1);
}
.errorText {
  color: #eb5757;
}
</style>
