<template>
  <div class="container">
    <form @submit.prevent="singin" class="main">
      <div class="logo">
        <img src="@/assets/icons/logo.svg" alt="" />
      </div>
      <p class="text-login">Вход</p>
      <div class="login">
        <BaseInput
          label="Логин"
          classname="login"
          placeholder="Логин"
          v-model="form.username"
        />
        <BaseInput
          label="Пароль"
          classname="login"
          placeholder="Пароль"
          inputType="password"
          :typeShoeHidePassword="true"
          v-model="form.password"
        />
      </div>
      <span class="error" v-if="showError">Incorrect login or password.</span>
      <!-- <button @click="singin">click</button> -->
      <div class="btn-login">
        <BaseButton text="Войти" class="login-btn" />
      </div>
    </form>
  </div>
</template>

<script>
import BaseInput from "@/components/ui/BaseInput";
import BaseButton from "@/components/ui/BaseButton";

export default {
  components: {
    BaseInput,
    BaseButton,
  },
  data: () => ({
    form: {
      username: "",
      password: "",
    },
    showError: false,
  }),
  methods: {
    async singin() {
      try {
        await this.$store.dispatch("auth/signIn", this.form);
        this.$router.push({ name: "Schemas" });
      } catch (e) {
        if (e.response.status) {
          this.showError = true;
        }
      }
    },
  },
};
</script>

<style scoped>
.container {
  margin: 140px auto;
  width: 510px;
  height: 520px;
  border: 1px solid rgba(23, 23, 25, 0.2);
  border-radius: 5px;
}
.main {
  margin: 0 auto;
  width: 334px;
}
.logo {
  width: 88px;
  height: 88px;
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
.text-login {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-top: 40px;
}
.login {
  margin-top: 20px;
}
.login div:last-child {
  margin-top: 20px;
}
.btn-login {
  margin-top: 40px;
  margin-left: calc(50% - 88px);
}
.error {
  color: red;
}
</style>
