<template>
  <div>
     <AuthorizationBlock />
  </div>
</template>
<script>
import AuthorizationBlock from '@/components/authorization/AuthorizationBlock.vue'
export default {
  components: {
    AuthorizationBlock
  }
}
</script>