<template>
  <div>
    <Container>
      <template #home>
        <div class="main">
          <h1>Новая схема</h1>
          <div class="input-size">
            <BaseInput
              v-model="name"
              label="Название схемы"
              :required="schemas.name.isRequired"
              :error="schemas.name.error"
              placeholder="Укажите название схемы"
            />
          </div>
          <div class="line"></div>
          <div>
            <NewSchemaModule
              v-for="(schema, index) in schemas.fields"
              :key="schema.id"
              :schema="schema"
              :field-index="index + 1"
              :field-id="schema.id"
              class="new-scame"
            />
          </div>

          <div class="buttons">
            <BaseButton
              @click="$store.commit('form/addField')"
              text="Добавить новое свойство"
              classname="add"
            />

            <!-- <button @click="$store.commit('form/addField')">Добавить новое свойство</button> -->
            <BaseButton
              @click="addSchema"
              text="Сохранить схему"
              :classname="buttonActive"
            />
            <!-- <button @click="addSchema">soxranit</button> -->
          </div>
        </div>
      </template>
    </Container>
  </div>
</template>

<script>
import NewSchemaModule from "../components/newSchema/NewSchemaModule";
import { mapState } from "vuex";
import BaseInput from "../components/ui/BaseInput";
import BaseButton from "../components/ui/BaseButton";
import Container from "../components/ui/Container";
import { validationMixin } from "../components/mixins/validation";

export default {
  components: {
    Container,
    BaseInput,
    NewSchemaModule,
    BaseButton,
  },
  mixins: [validationMixin],
  data() {
    return {
      name: "",
      buttonActive: "active",
    };
  },
  computed: {
    ...mapState({
      schemas: (state) => state.form.newSchema,
    }),
  },
  watch: {
    name(val) {
      this.$store.commit("form/setSchemaName", val);
    },
  },
  methods: {
    async addSchema() {
      const res = {
        status: true,
      };

      this.checkSingleField(this.schemas.name, res);

      this.checkFields(this.schemas.fields, res);

      if (res.status) {
        await this.$store.dispatch("form/addSchema");
        this.$router.push("/");
      }
    },
  },
};
</script>

<style scoped>
h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-bottom: 20px;
}
.input-size {
  width: 422px;
}
.line {
  width: 100%;
  height: 1px;
  background: #c4c4c4;
  margin-top: 30px;
}
.new-scame {
  margin-top: 40px;
}
.buttons {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}
.main {
  margin-top: 40px;
}
</style>
