<template>
  <div class="card">
    <div class="chbox">
      <BaseSwitcher v-model="validation.required" />
    </div>
    <div v-if="showInputs">
      <div class="min-max">
        <BaseInput
          v-model="validation.min"
          :label="`Мин. кол-во символов ${fieldText}`"
          class="count"
        />
        <BaseInput
          v-model="validation.max"
          :label="`Макс. кол-во символов ${fieldText}`"
          class="count"
        />
      </div>
      <div v-if="!isNumberType" class="shablon">
        <BaseInput v-model="validation.pattern" label="Шаблон ввода" />
      </div>
    </div>
  </div>
</template>

<script>
import BaseInput from "../ui/BaseInput";
import BaseSwitcher from "../ui/BaseSwitcher";
export default {
  components: {
    BaseInput,
    BaseSwitcher,
  },
  props: {
    type: {
      type: String,
      default: "text",
      validator: (type) =>
        ["text", "number", "password", "checkbox", "phone", "options"].includes(
          type
        ),
    },
    fieldId: {
      type: Number,
      required: true,
    },
  },
  data: () => ({
    validation: {},
  }),
  computed: {
    isNumberType() {
      return this.type === "number";
    },
    fieldText() {
      return this.isNumberType ? "znacheia" : "kol";
    },
    showInputs() {
      return ["text", "number", "password"].includes(this.type);
    },
  },
  watch: {
    type: {
      handler() {
        this.validation = {
          required: false,
          ...(this.showInputs && { min: "", max: "" }),
          ...(this.showInputs && !this.isNumberType && { pattern: "" }),
        };
      },
      immediate: true,
    },
    validation: {
      handler(val) {
        this.$store.commit("form/setFieldValidation", {
          id: this.fieldId,
          validation: val,
        });
      },
      deep: true,
      immediate: true,
    },
  },
};
</script>

<style scoped>
.card {
  width: 422px;
}
.min-max {
  display: flex;
  justify-content: space-between;
}
::v-deep .switcher {
  padding-bottom: 34px;
}
.count {
  width: 200px;
}
</style>
