<template>
  <div class="switcher">
    <div
      class="switcher__board"
      :class="{ 'switcher__board-active': modelValue }"
      @click="toggle"
    >
      <div
        class="switcher__box"
        :class="{ 'switcher__box-active': modelValue }"
      />
    </div>
    <p class="info">Обязательно для заполнения</p>
  </div>
</template>

<script>
export default {
  name: "BaseSwitcher",
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: {
      type: Boolean,
      required: true,
    },
    showText: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    modelValue: {
      get() {
        return this.$props.value;
      },
      set(val) {
        this.$emit("change", val);
      },
    },
    // currentText() {
    //   return this.modelValue ? "Active" : "Off";
    // },
  },
  methods: {
    toggle() {
      this.modelValue = !this.modelValue;
      console.log(this.modelValue);
    },
  },
};
</script>

<style scoped>
.switcher {
  display: flex;
  align-items: center;
}
.switcher__board {
  position: relative;
  width: 36px;
  height: 20px;
  /*border: 1px solid blue;*/
  border-radius: 20px;
  cursor: pointer;
  margin-right: 12px;
  background: rgba(23, 23, 25, 0.3);
}
.switcher__board-active {
  position: relative;
  width: 36px;
  height: 20px;
  /*border: 1px solid blue;*/
  border-radius: 20px;
  cursor: pointer;
  margin-right: 12px;
  background: #1390e5;
}
.switcher__box {
  width: 14px;
  height: 14px;
  background: #ffffff;

  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s;
}
.switcher__box-active {
  left: calc(100% - 14px - 2px);
}
.switcher__text {
  width: 43px;
  color: blue;
}
.switcher__text--on {
  color: red;
}
.info {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #272727;
}
</style>
