<template>
  <button :class="$props.classname" v-on="$listeners">{{ $props.text }}</button>
</template>

<script>
export default {
  props: {
    classname: {
      type: String,
      required: "",
    },
    text: {
      type: String,
      required: "",
    },
  },
};
</script>

<style scoped>
.login-btn {
  width: 176px;
  height: 52px;
  background: #1390e5;
  border-radius: 5px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.create-schame {
  width: 185px;
  height: 52px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background: #1390e5;
  border-radius: 5px;
  border: none;
}
.add {
  width: 286px;
  height: 52px;
  cursor: pointer;
  border: none;
  border: 1px solid #1390e5;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #1390e5;
  background: #fff;
}
.disactive {
  width: 210px;
  height: 52px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #1390e5;
  opacity: 0.5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.active {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 210px;
  height: 52px;
  background: #1390e5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.Validation {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #1390e5;
  border-radius: 5px;
  border: none;
  width: 561px;
  height: 52px;
  cursor: pointer;
}
</style>
