<template>
  <div class="input-block" :class="$props.classname">
    <p
      v-if="$props.label"
      class="title-text"
      :class="{ errorText: $props.error }"
    >
      <span v-if="required">*</span>
      {{ $props.label }}
    </p>
    <div class="block-show-hide-icon">
      <img
        @click="clearInput"
        v-if="clear"
        class="clear"
        src="@/assets/icons/inputClear.svg"
        alt=""
      />
      <input
        v-model.trim="modelValue"
        :class="{ error: this.error }"
        @click="onClick"
        class="input"
        :type="inputTypeClickIcon"
        :placeholder="placeholder"
      />
      <div v-if="typeShoeHidePassword" class="password-show-hide">
        <img
          @click="changeIconPassword"
          :src="require(`@/assets/icons/${inputShowHidePasswordIcon}`)"
          alt=""
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
  props: {
    classname: {
      type: String,
    },
    placeholder: {
      type: String,
      required: false,
    },
    label: {
      type: String,
      required: false,
    },
    inputType: {
      type: String,
      required: false,
    },
    typeShoeHidePassword: {
      type: Boolean,
      required: false,
    },
    value: {
      type: [String, Number],
      default: "",
    },
    required: {
      type: Boolean,
      default: false,
    },
    error: {
      type: Boolean,
      default: false,
    },
    clear: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      inputClick: false,
      inputShowHidePasswordIcon: "passwordHide.svg",
      passwordHide: true,
      // value: null,
    };
  },
  mounted() {
    console.log(this.error, 443);
  },
  computed: {
    inputTypeClickIcon() {
      if (this.$props.inputType && this.passwordHide) {
        return "password";
      }
      return "text";
    },
    modelValue: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {
    onClick() {
      this.inputClick = true;
      if (this.passwordHide) {
        this.inputShowHidePasswordIcon = "passwordHideActive.svg";
      }
    },
    clearInput() {
      this.modelValue = "";
    },
    changeIconPassword() {
      console.log(this.inputShowHidePasswordIcon);
      this.passwordHide = !this.passwordHide;
      if (this.inputShowHidePasswordIcon === "passwordHideActive.svg") {
        this.inputShowHidePasswordIcon = "passwordShow.svg";
      }
    },
  },
};
</script>

<style scoped>
.input-block {
  position: relative;
}

.input {
  width: 100%;
  height: 50px;
  color: #272727;
  border: 1px solid rgba(23, 23, 25, 0.2);
  border-radius: 5px;
  padding-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.login .title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(23, 23, 25, 0.3);
}

.block-show-hide-icon {
  position: relative;
}

.password-show-hide {
  position: absolute;
  left: calc(100% - 40px);
  top: calc(50% - 14px);
  cursor: pointer;
}

.password-show-hide img {
  width: 24px;
  height: 28px;
}

.input:focus {
  background: rgba(197, 228, 249, 0.3);
  /* Siberian blue */

  border: 1px solid #1390e5;
  box-sizing: border-box;
  border-radius: 5px;
}
span {
  color: red;
}
.error {
  border: 1px solid #eb5757;
  background: rgba(235, 87, 87, 0.1);
}
.errorText {
  color: #eb5757;
}
.clear {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(100% - 36px);
  top: calc(25%);
  cursor: pointer;
}
</style>
