<template>
  <div>
    <div v-if="$slots['home']" class="home">
      <slot name="home" />
    </div>
    <!--    <div v-if="$slots['containerAnimation']" class="container-Animation">-->
    <!--      <slot name="containerAnimation" />-->
    <!--    </div>-->
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.home {
  width: 1040px;
  margin: 0 auto;
}
</style>
