<template>
  <div class="main-input">
    <BaseInput :clear="true" />
  </div>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
  computed: {
    modelValue: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
};
</script>

<style scoped>
.main-input {
  position: relative;
}
img {
  position: absolute;
}
.input {
  border: 1px solid rgba(23, 23, 25, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  width: 387px;
  height: 48px;
  margin-left: 56px;
}
</style>
